*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: 0;
    text-decoration: none;
    transition: all 0.2s linear;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;

    &::-webkit-scrollbar{
        width: 1rem;
    }

    &::-webkit-scrollbar-track{
        background: $black-bg;
    }

    &::-webkit-scrollbar-thumb{
        background: $aqua;
    }
}

body{
    background-color: $black;
    overflow-x: hidden;
}

section,footer{
    padding: 3rem 9%;
}
// home section start
.home{
    background: linear-gradient($black-bg, $black-bg), url(../../../images/home-bg.jpg);
    width: 90%;
    min-height: 85vh;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-top: 9rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;

    .content {
        text-align: center;

        span {
            font-weight: bolder;
            color: transparent;
            -webkit-text-stroke: .1rem $white;
            font-size: 4vw;
            display: block;
        }
        h2 {
            font-size: 6vw;
            color: $white;
        }
        p {
            color: $lightColor;
            max-width: 60rem;
            margin: 1rem auto;
            font-size: 1.4rem;
            line-height: 2;
        }
    }
}
// // home section end //
// ******************************************
// form section start
.form {
    background-color: $bgColor;
    width: 80%;
    margin: 0 auto;
    margin-top: -5rem;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(17, 17, 17, .3);

    form {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        gap: 1.5rem;

        .input-box {
            flex: 1 1 20rem;
            

            span{
                font-size: 1.6rem;
                color: $lightColor;
            }
            input {
                width: 100%;
                padding: 0 1.4rem;
                height: 5rem;
                border-radius: 5rem;
                color: $lightColor;
                font-size: 1.6rem;
                border: $border;
                background-color: transparent;
                
                
            }
        }

        .btn {
            padding: 1rem 6rem;
        }
        
    }
}
// // form section end //
// *****************************************
// section about start
.about {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 5rem;

    .video-container {
        flex: 1 1 42rem;
        

        video {
            width: 100%;
            border-radius: 1rem;
        }

        .controls {
            text-align: center;
            padding: 2rem 0;

            span {
                display: inline-block;
                height: 2rem;
                width: 2rem;
                background-color: $white;
                border-radius: 50%;
                cursor: pointer;
                margin: .7rem;

                &:hover {
                    background-color: $aqua;
                }
            }
        }
    }

    .content {
        flex: 1 1 42rem;
        margin-top: 5rem;

        span {
            color: $aqua;
            font-size: 2rem;
        }

        h3 {
            color: $white;
            font-size: 4rem;
            margin-top: .5rem;
        }

        p {
            color: $lightColor;
            font-size: 1.4rem;
            line-height: 2;
            margin: 1rem 0;
        }
    }
}
// // section about end //

// ****************************************

// section destination start
.title {
    text-align: center;
    margin-bottom: 2rem;

    span {
        color: $aqua;
        font-size: 2rem;
    }

    h2 {
        color: $white;
        font-size: 4rem;
        margin-top: .5rem;
    }
}
.destination .container {
    @include grid(27rem);

    .box {
        overflow: hidden;
        background-color: $bgColor;
        border-radius: 1rem;

        &:hover img {
            transform: scale(1.2);
        }

        .image {
            height: 20rem;
            overflow: hidden;
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .content {
            padding: 2rem;
            text-align: center;
            h3{
                font-size: 2rem;
                color: $white;
            }
            p{
                color: $lightColor;
                font-size: 1.4rem;
                line-height: 2;
                padding: 1rem 0;
            }
            a{
                color: $aqua;
                font-size: 1.7rem;

                i{
                    padding-right: .5rem;
                }
                &:hover i{
                    padding-left: 1rem;
                }
            }
        }
    }
    
}
// section destination end

// ******************************************

// section services start
.services .container {
    @include grid(32rem);

    .box{
        background: $bgColor;
        border-radius: 1rem;
        padding: 3rem 2rem;
        text-align: center;
        border: .2rem solid $black;

        &:hover {
            border: $border;
        }

        i {
            font-size: 4rem;
            color: $aqua;
            margin-bottom: 1rem;
        }

        h3 {
            font-size: 2rem;
            color: $white;
        }

        p {
            color: $lightColor;
            font-size: 1.4rem;
            line-height: 2;
            padding: 1rem;
        }
    }
}
// section services end

// ******************************************

// gallery section start
.gallery .container {
    columns: 3 25rem;
    column-gap: 1.5rem;

    .box {
        margin-bottom: 1rem;
        break-inside: avoid;

        img {
            width: 100%;
            border-radius: 1rem;
            margin-bottom: 1rem;
        }
        span {
            font-size: 1.4rem;
            color: $lightColor;
        }
        h3{
            font-size: 2rem;
            color: $white;
            margin-top: .5rem;
        }
    }
}
// gallery section end
// ****************************************

// section review start
.review {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    .content {
        flex: 1 1 42rem;
        span {
            font-size: 2rem;
            color: $aqua;
        }
        h2 {
            font-size: 3rem;
            color: $white;
        }
        p{
            color: $lightColor;
            line-height: 2;
            font-size: 1.4rem;
            padding-right: 1rem;
        }
    }

    .container {
        flex: 1 1 42rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;

        .box {
            flex: 1 1 20rem;
            border-radius: 1rem;
            padding: 2rem;
            background-color: $bgColor;
            border: 2px solid transparent;

            &:hover {
                border: $border;
            }

            p{
                font-size: 1.4rem;
                padding-bottom: 1rem;
                line-height: 2;
                color: $lightColor;
            }
            .user {
                display: flex;
                align-items: center;
                gap: 1rem;

                img{
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                }
                h3 {
                    font-size: 2rem;
                    color: $white;
                }
                span {
                    color: $aqua;
                }
            }

        }
    }
}

// section review end

// ******************************************

// section blog start
.blogs .container {
    @include grid(32rem);
    .box {
        border-radius: 1rem;
        background: $bgColor;
        overflow: hidden;

        &:hover {
            .image img {
                transform: scale(1.1);
            }
        }

        .image {
            width: 100%;
            height: 25rem;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .content {
            padding: 2rem;

            .link {
                font-size: 2rem;
                color: $white;

                &:hover {
                    color: $aqua;
                }
                
            }
            p {
                color: $lightColor;
                font-size: 1.4rem;
                line-height: 2;
                padding: 1rem 0;
            }
            .icon {
                padding-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                a {
                    font-size: 1.4rem;
                    color: $lightColor;

                    &:hover {
                        color: $aqua;
                    }

                    i {
                        padding-right: .5rem;
                        color: $aqua;
                    }
                }
            }
        }
    }
}
// section blog end
// ******************************************
// banner start
.banner {
    background: linear-gradient($black-bg, $black-bg), url(../../../images/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 3rem 2rem;
    text-align: center;
    margin-top: 2rem;

    .content {
        span {
            color: $aqua;
            font-size: 2rem
        }
        h3 {
            color: $white;
            font-size: 4rem;
            margin: 1rem 0;
        }
        p {
            color: $lightColor;
            max-width: 60rem;
            margin: 1rem auto;
            font-size: 1.4rem;
            line-height: 2;
        }
    }
}
// banner end

