$aqua: #29d9d5;
$black: #111;
$lightColor: #aaa;
$white: #fff;
$bgColor: #222;
$black-bg: rgba(17,17,17,0.7);
$border: .2rem solid $aqua;


// media 
// $phoneScreen: "(max-width: 450px)";

$smallScreen: "(max-width: 767px)";

$midScreen: "(max-width: 991px)";

$labScreen: "(min-width: 1200px)";
